// Help Documentation

.help-button {
  font-size: 14px;
}

.doc-title {
  text-align: center;
}
.neon-logo {
  height: 50px;
  width: 50px;
}

.logo-container {
  text-align: center;
  padding: 10px 16px 8px 16px;
}

.screenshots {
  text-align: center;
  padding-top: 20px;
}

.fulfillment-screen {
  padding-right: 30px;
}

.boards-screen {
  padding-left: 30px;
}

.instructions {
  margin-left: 15px;
}
