@import '../../src/components/styles.scss';
@import '~@newrelic/nr-labs-components/dist/styles.css';

.container {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  width: 99%;
}

.top, .bottom {
  flex-shrink: 0;
}

.main {
  min-width: 0;
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 16px 8px 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
