@import url('https://fonts.googleapis.com/css?family=Fira+Sans:100,400,500,700&display=swap');

@import 'etc';

body {
  background: white;
	font-family: 'Fira Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Fira Sans', sans-serif;
	line-height: 1.5;
}

.container {
  margin: 0 auto;
  padding: 0 0 4em;
  width: 100%;

  a.default {
	  border: 2px solid transparent;
	  position: relative;
	  color: #202e38;
	  text-decoration: none;

	  &::after {
	    width: 0%;
	    height: 2px;
	    display: block;
	    background-color: #202e38;
	    content: " ";
	    position: absolute;
	    top: 20px;
	    left: 50%;
	    transition: left 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), width 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
	  }

	  &:hover {
	    &::after {
	      width: 100%;
	      height: 2px;
	      display: block;
	      background-color: #202e38;
	      content: " ";
	      position: absolute;
	      top: 20px;
	      left: 0;
	    }
	  }
	}

  .hr {
	  display: flex;
	  align-items: center;
	  max-width: 900px;
	  margin: 15px auto;
	  color: #444;

		&::after, &::before {
		  flex: 1;
		  background: #c7c7c7;
		  content: "";
		  height: 1px;
		}

		.hr-text {
			font-family: 'Fira Sans', sans-serif;
		  padding: 0 15px;
		}
	}
}
// /container

// sidebar
.sidebar-container {
  padding-left: 20px;
  h2 {
    padding-bottom: 20px;
  }
  p {
    padding-bottom: 15px;
  }
}
// /sidebar

// boards
.board_list {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	padding-left: -1rem;
	padding-right: -1rem;

	width: 100%;
	max-width: 64rem;
	margin: 4em auto 0;
}

.board_card {
	margin: 1rem;

	& > a {
		position: relative;
		width: 300px;
		height: 300px;
		padding: 2rem;
		background-color: #DB569D;
		text-align: center;
		transition: all .2s;

		display: flex;
		flex-flow: column;
		align-items: center;
  		justify-content: center;
		color: #180839;
		text-decoration: none;
    @include transition(color .5s, background-color .5s, transform .5s);

    h2 {
      font: 700 40px/48px 'Fira Sans', sans-serif;
    }

		&:before {
			position: absolute;
			top: -1rem;
			left: -1rem;
			width: 100%;
			height: 100%;
			border: 3px solid #180839;
			content: "";
      @include transition(top .5s, left .5s, border-color .5s);
		}

		&:hover {
			color: #fff;
			background-color: #72154A;
			// transform: rotate(-3deg);

			&:before {
        top: 0;
  			left: 0;
				border-color: transparent;
			}
		}
	}

	.board_name {
		margin: 0;
		font-size: 2em;
		order: 2;
	}

	.board_team {
    font-size: 1.2em;
		order: 1;
	}

	.board_tags {
		order: 3;
	}
}

@supports (display: grid) {
	.board_list{
		display: grid;
		grid-template-columns: repeat(auto-fill, 300px);
		grid-auto-rows: 300px;
		grid-gap: 2rem;
		grid-auto-flow: dense;
		padding: 0;
	}

	.board_card{
		margin: 0;
	}
}
// /boards

// board
.board-title {
  text-align: center;
  margin: 1em auto;

  h2 {
    font: 700 40px/48px 'Fira Sans', sans-serif;
  }
}

.board-table {
  border-collapse: collapse;
  margin: 1em auto 4em;

  td {
    min-width: 3em;
    // font: 500 1.5em/2.25em 'Fira Sans', sans-serif;
    height: 3em;
    text-align: center;
    padding: 1em 1.5em;
    border: 1px solid #ccc;
    border-top-width: 0;

    span {
      display: block;
      text-align: center;
      margin: 0 auto;
    }

    .text {
      font: 500 1.5em 'Fira Sans', sans-serif;
      border-radius: 1em;
      padding: 0 .3em;

      &.ok {
        background: #F2FCF3;
        border: 1px solid #77D375;
        color: #1B7B19;
      }

      &.warn {
        background: #FCF9F2;
        border: 1px solid #FFC368;
        color: #BB7408;
      }

      &.alert {
        background: #FCF5F6;
        border: 1px solid #FF7060;
        color: #CA3F30;
      }
    }

    .circle {
      display: block;
      width: 1em;
      height: 1em;
      border-radius: 50%;

      &.unknown {
        border: 2px solid #AEAEAE;
      }

      &.ok {
        background: #77D375;
        box-shadow: 0 0 0 .75em rgba(119,211,117, 0.1);
      }

      &.alert {
        background: #FF7060;
        animation: pulse 1s infinite;
      }
    }

    @keyframes pulse
    {
      0% {
        box-shadow: 0 0 0 0 rgba(255, 112, 96, 0.3);
      }
      100% {
        box-shadow: 0 0 0 2em rgba(255, 112, 96, 0);
      }
    }
  }

  th.rotate {
    height: 8em;
    white-space: nowrap;
    font: 500 1.5em/2.25em 'Fira Sans', sans-serif;

    & > div {
      -webkit-transform: translate(25px, 51px) rotate(315deg);
              transform: translate(25px, 51px) rotate(315deg);
      width: 3em;

      & > span {
        // border-bottom: 1px solid #ccc;
        // padding: 5px 10px;
      }
    }
  }

  th.row-header {
    padding: 0 1em;
    border-bottom: 1px solid #ccc;
    font: 500 1.5em/2.25em 'Fira Sans', sans-serif;
  }
}


.control-bar {
  text-align: center;
  font: 100 1em 'Fira Sans', sans-serif;
}

// /board


// box spinner
.spinner{
  position: absolute;
  top: 45%;
  left: 50%;

  .side{
    box-shadow: 0px 0px 0 #ff003e,
      0px 0px 4px #ff000e,
      0px 0px 8px #ff00de,
      0px 0px 16px #ff00de;
    border-radius: 4px;
    position: absolute;
  }
  .left{
    width: 1px;
    @include animation('spinner-left 2s linear infinite');
  }
  .top{
    height: 1px;
    @include animation('spinner-top 2s linear infinite');
  }
  .right{
    width: 1px;
    @include animation('spinner-right 2s linear infinite');
  }
  .bottom{
    height: 1px;
    @include animation('spinner-bottom 2s linear infinite');
  }
}

@include keyframes(spinner-left) {
  0%  {height: 0; top: 96px; left: 0;}
  20% {height: 100px; top: 0; left: 0;}
  40% {height: 0; top: 0; left: 0;}
}

@include keyframes(spinner-top) {
  0%  {width: 0; top: 0; left: 0;}
  20% {width: 0; top: 0; left: 0;}
  40% {width: 100px; top: 0; left: 0;}
  60% {width: 0; top:0; left: 100px;}
}

@include keyframes(spinner-right) {
  0%  {height: 0; top: 0; left: 96px;}
  40% {height: 0; top: 0; left: 96px;}
  60% {height: 100px; top: 0; left: 96px;}
  80% {height: 0; top: 100px;left: 96px;}
}

@include keyframes(spinner-bottom) {
  0%  {width: 0; top: 96px; left: 96px;}
  60% {width: 0; top: 96px; left: 96px;}
  80% {width: 100px; top:96px; left: 0px;}
  100% {width: 0px; top:96px; left: 0px;}
}
// /box spinner

// select
$grey-background: #f5f5f5;
$grey-border: #ddd;
$grey-text: #898989;
$grey-dark: #444;
$main-light: #d9f2fb;
$main: #00a9e0;
$main-dark: #007da6;
$success: #7fd81e;
$error: #ff5100;
$warning: #f6c223;
$body: #081f2c;

.select {
  // position: relative;
  // display: inline-block;
  // width: 320px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: white;
  border: 1px solid #d5d7d7;
  border-radius: 2px;
  padding: 0.75rem;
  font-size: 0.75rem;
  width: 100%;
  position: relative;
  line-height: 1.2;

  &:focus {
    outline: none !important;
  }
}

.select svg {
  display: block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.select .label {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  // color: #2a3434;
  // font-weight: 600;
  // font-size: inherit;
  // line-height: inherit;

  font-size: 11px;
  line-height: 16px;
  letter-spacing: .2px;
  // padding-top: 3px;
  // padding-bottom: 5px;
  text-transform: uppercase;
  color: #8e9494;
}

.select .selection {
  // position: relative;
  // padding: 5px;
  // border: 1px solid $grey-border;
  // background: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 1em;

  margin: 0 0.5rem;
  color: #464e4e;
  background: transparent;
  padding: 0;
  width: 100%;

  .value {
    position: relative;
    display: inline-block;
    padding: 5px 10px;
  }

  .multiple {
    padding-right: 30px;
    margin-right: 5px;
    background: $main-light;
    color: $main;
  }

  .delete {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    padding: 10px;
    font-size: 10px;
    cursor: pointer;

    svg {
      margin-top: -3px;
    }
  }

  .placeholder {
    padding: 5px 10px;
    color: $grey-text;
  }

  .arrow {
    position: absolute;
    top: 5px;
    right: 5px;
    display: block;
    padding: 10px;
    font-size: 10px;
    color: $grey-text;
  }
}

.select .options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border: solid $grey-border;
  border-width: 0 1px;
  background: #fff;
  z-index: 1;
}

.select .option {
  padding: 10px 15px;
  border-bottom: 1px solid $grey-border;
  cursor: pointer;

  &.selected {
    border: 1px solid $main;
    margin: -1px -1px 0;
    background: $main-light;
  }

  &.focused {
    background: $grey-background;
  }
}

.select .checkbox {
  content: '';
  vertical-align: top;
  display: inline-block;
  width: 16px;
  height: 16px;
  padding: 2px;
  border: 1px solid $grey-border;
  border-radius: 2px;
  margin: 2px 12px 0 0;
  color: #fff;
  font-size: 10px;

  .selected & {
    border-color: $main-dark;
    background: $main;
  }

  svg {
    width: 1rem;
    height: 1rem;
    fill: $grey-dark;
  }
}
// /select

// segmented control
.segmented-control {
    display: table;
    width: 100%;
    margin: 2em 0;
    padding: 0;
}

.segmented-control__item {
    display: table-cell;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.segmented-control__input {
    position: absolute;
    visibility: hidden;
}

.segmented-control__label {
    display: block;
    margin: 0 -1px -1px 0; /* -1px margin removes double-thickness borders between items */
    padding: 1em .25em;

    border: 1px solid #ddd;

    font: 400 1em 'Fira Sans', sans-serif;
    text-align: center;

    cursor: pointer;
}

.segmented-control__label:hover {
    background: #fafafa;
}

.segmented-control__input:checked + .segmented-control__label {
    background: #eee;
    color: #333;
    // font: 400 1em 'Fira Sans', sans-serif;
}
// /segmented control
