@import url('https://fonts.googleapis.com/css?family=Fira+Sans:100,400,500,700&display=swap');
@import 'etc';
@import '~@newrelic/nr1-community/dist/index.css';

body {
  background: white;
  font-family: 'Fira Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Fira Sans', sans-serif;
  line-height: 1.5;
}

.container {
  margin: 0 auto;
  padding: 0 0 4em;
  width: 100%;

  a.default {
    border: 2px solid transparent;
    position: relative;
    color: #202e38;
    text-decoration: none;

    &::after {
      width: 0%;
      height: 2px;
      display: block;
      background-color: #202e38;
      content: ' ';
      position: absolute;
      top: 20px;
      left: 50%;
      transition: left 0.2s cubic-bezier(0.215, 0.61, 0.355, 1),
        width 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    &:hover {
      &::after {
        width: 100%;
        height: 2px;
        display: block;
        background-color: #202e38;
        content: ' ';
        position: absolute;
        top: 20px;
        left: 0;
      }
    }
  }

  .hr {
    display: flex;
    align-items: center;
    max-width: 900px;
    margin: 15px auto;
    color: #444;

    &::after,
    &::before {
      flex: 1;
      background: #c7c7c7;
      content: '';
      height: 1px;
    }

    .hr-text {
      font-family: 'Fira Sans', sans-serif;
      padding: 0 15px;
    }
  }
}
// /container

// sidebar
.sidebar-container {
  padding-left: 20px;
  h2 {
    padding-bottom: 20px;
  }
  p {
    padding-bottom: 15px;
  }
}
// /sidebar

// boards
.board_list {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  justify-content: center;
  padding-left: -1rem;
  padding-right: -1rem;

  width: 100%;
  max-width: 64rem;
  margin: 4em auto 0;
}

.board_card {
  margin: 1rem;

  & > a {
    position: relative;
    width: 300px;
    height: 300px;
    padding: 2rem;
    background-color: #db569d;
    text-align: center;
    transition: all 0.2s;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    color: #180839;
    text-decoration: none;
    @include transition(color 0.5s, background-color 0.5s, transform 0.5s);

    h2 {
      font: 700 40px/48px 'Fira Sans', sans-serif;
      color: #fff;
    }

    &:before {
      position: absolute;
      top: -1rem;
      left: -1rem;
      width: 100%;
      height: 100%;
      border: 3px solid #180839;
      content: '';
      @include transition(top 0.5s, left 0.5s, border-color 0.5s);
    }

    &:hover {
      color: #fff;
      background-color: #72154a;
      // transform: rotate(-3deg);

      &:before {
        top: 0;
        left: 0;
        border-color: transparent;
      }
    }
  }

  .board_name {
    margin: 0;
    font-size: 2em;
    order: 2;
  }

  .board_team {
    font-size: 1.2em;
    order: 1;
  }

  .board_tags {
    order: 3;
  }
}

// delete board modal
[class*='InnerModal-content'] {
  [class*='Text--type-heading'] {
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #000d0d;
  }

  p {
    margin-bottom: 16px;
  }

  button {
    margin-right: 8px;
  }
}

[class*='InnerModal'] {
  background-color: #fff;
}
// / delete board modal

//  edit board modal
.btn-spacing {
  margin: 8px 4px;
}

// / edit board modal
@supports (display: grid) {
  .board_list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-auto-rows: 300px;
    grid-gap: 2rem;
    grid-auto-flow: dense;
    padding: 0;
  }

  .board_card {
    margin: 0;
  }
}
// /boards

// board
.board-title {
  text-align: center;
  margin: 1em auto;

  h2 {
    font: 700 40px/48px 'Fira Sans', sans-serif;
  }
}

.board-table {
  border-collapse: collapse;
  margin: 2em auto 4em;
  position: relative;
  z-index: 0;

  td {
    min-width: 3em;
    // font: 500 1.5em/2.25em 'Fira Sans', sans-serif;
    height: 3em;
    text-align: center;
    padding: 1em 1.5em;
    border: 1px solid #ccc;
    border-top-width: 0;

    span {
      display: block;
      text-align: center;
      margin: 0 auto;
    }

    .text {
      font: 500 1.5em 'Fira Sans', sans-serif;
      border-radius: 1em;
      padding: 0 0.3em;

      &.ok {
        background: #f2fcf3;
        border: 1px solid #77d375;
        color: #1b7b19;
      }

      &.warn {
        background: #fcf9f2;
        border: 1px solid #ffc368;
        color: #bb7408;
      }

      &.alert {
        background: #fcf5f6;
        border: 1px solid #ff7060;
        color: #ca3f30;
      }
    }

    .circle {
      display: block;
      width: 1em;
      height: 1em;
      border-radius: 50%;

      &.unknown {
        border: 2px solid #aeaeae;
      }

      &.ok {
        background: #77d375;
        box-shadow: 0 0 0 0.75em rgba(119, 211, 117, 0.1);
      }

      &.alert {
        background: #ff7060;
        animation: pulse 1s infinite;
      }
    }

    @keyframes pulse {
      0% {
        box-shadow: 0 0 0 0 rgba(255, 112, 96, 0.3);
      }
      100% {
        box-shadow: 0 0 0 2em rgba(255, 112, 96, 0);
      }
    }
  }

  th {
    background-color: transparent;
  }

  th.rotate {
    height: 8em;
    white-space: nowrap;
    overflow: visible;
    font: 500 1.5em/2.25em 'Fira Sans', sans-serif;

    & > div {
      -webkit-transform: translate(25px, 51px) rotate(315deg);
      transform: translate(25px, 51px) rotate(315deg);
      width: 3em;
    }

    &:nth-child(2) span:before {
      border-top: 1px solid lightgrey;
    }

    span {
      display: inline-block;
      border-bottom: 1px solid lightgrey;
      height: 50px;
      padding: 7px 0 7px;
      text-indent: 1px;
      position: relative;
      left: 14px;
      top: 7px;
      min-width: 210px;
      background-color: #edeeee;

      &:before {
        content: '';
        display: inline-block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: -55px;
        top: -1px;
        background-color: #edeeee;
        z-index: -9;
      }

      &:after {
        content: '';
        display: inline-block;
        width: 100%;
        height: 74%;
        position: absolute;
        left: 100px;
        top: 5px;
        background-color: #fff;
        z-index: 1;
        transform: rotate(45deg);
      }
    }
  }

  th.row-header {
    padding: 0 1em;
    border-bottom: 1px solid #ccc;
    font: 500 1.5em/2.25em 'Fira Sans', sans-serif;
    background-color: #edeeee;
    position: relative;

    &:first-child {
      border-top: 1px solid lightgrey;
    }
  }
}

.control-bar {
  text-align: center;
  font: 100 1em 'Fira Sans', sans-serif;

  a {
    border: 2px solid transparent;
    position: relative;
    color: #202e38;
    text-decoration: none;

    &::after {
      width: 0%;
      height: 2px;
      display: block;
      background-color: #202e38;
      content: ' ';
      position: absolute;
      top: 20px;
      left: 50%;
      transition: left 0.2s cubic-bezier(0.215, 0.61, 0.355, 1),
        width 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    &:hover {
      &::after {
        width: 100%;
        height: 2px;
        display: block;
        background-color: #202e38;
        content: ' ';
        position: absolute;
        top: 20px;
        left: 0;
      }
    }
  }
}

// /board

// timeline
.timeline {
  ul {
    padding: 1em 0 0 2em;
    margin: 0;
    list-style: none;
    position: relative;

    &::before {
      content: ' ';
      height: 100%;
      width: 1px;
      background-color: #aeaeae;
      position: absolute;
      top: 0;
      left: 2.5em;
      z-index: -1;
    }
  }

  li div {
    display: inline-block;
    margin: 1em 0;
    vertical-align: top;
  }

  .bullet {
    width: 1em;
    height: 1em;
    box-sizing: border-box;
    border-radius: 50%;
    background: #fff;
    z-index: 1;
    margin-right: 1em;

    &.unknown {
      border: 2px solid #aeaeae;
    }

    &.ok {
      background: #77d375;
      box-shadow: 0 0 0 0.75em rgba(119, 211, 117, 0.1);
    }

    &.alert {
      background: #ff7060;
      box-shadow: 0 0 0 0.75em rgba(255, 112, 96, 0.1);
      //animation: pulse 1s infinite;
    }
  }

  .desc {
    width: 90%;
  }

  .comment {
    width: 90%;
    margin-left: 2em;

    .message {
      padding: 1em 0.75em;
      border-radius: 0.5em;
      width: 90%;
      position: relative;
      background-color: rgba(174, 174, 174, 0.1);

      &:after {
        bottom: 100%;
        left: 10%;
        border: solid transparent;
        content: ' ';
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: rgba(174, 174, 174, 0.1);
        border-width: 1em;
        margin-left: -1em;
      }
    }
  }

  h5 {
    font: 400 1em 'Fira Sans', sans-serif;
    margin: 0;
  }

  .details,
  .options {
    font: 100 1em 'Fira Sans', sans-serif;
    display: block;
    margin: 0;
  }

  .options {
    color: #ccc;
  }

  input.textarea {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 90%;
    height: 1em;
    z-index: 99;
    background: #fafafa;
    border: none;
    outline: none;
    padding: 2em;
    color: #666;
    font: 400 1em/1.1em 'Fira Sans', sans-serif;
  }
}
// /timeline

// box spinner
.spinner {
  position: absolute;
  top: 45%;
  left: 50%;

  .side {
    box-shadow: 0px 0px 0 #ff003e, 0px 0px 4px #ff000e, 0px 0px 8px #ff00de,
      0px 0px 16px #ff00de;
    border-radius: 4px;
    position: absolute;
  }
  .left {
    width: 1px;
    @include animation('spinner-left 2s linear infinite');
  }
  .top {
    height: 1px;
    @include animation('spinner-top 2s linear infinite');
  }
  .right {
    width: 1px;
    @include animation('spinner-right 2s linear infinite');
  }
  .bottom {
    height: 1px;
    @include animation('spinner-bottom 2s linear infinite');
  }
}

@include keyframes(spinner-left) {
  0% {
    height: 0;
    top: 96px;
    left: 0;
  }
  20% {
    height: 100px;
    top: 0;
    left: 0;
  }
  40% {
    height: 0;
    top: 0;
    left: 0;
  }
}

@include keyframes(spinner-top) {
  0% {
    width: 0;
    top: 0;
    left: 0;
  }
  20% {
    width: 0;
    top: 0;
    left: 0;
  }
  40% {
    width: 100px;
    top: 0;
    left: 0;
  }
  60% {
    width: 0;
    top: 0;
    left: 100px;
  }
}

@include keyframes(spinner-right) {
  0% {
    height: 0;
    top: 0;
    left: 96px;
  }
  40% {
    height: 0;
    top: 0;
    left: 96px;
  }
  60% {
    height: 100px;
    top: 0;
    left: 96px;
  }
  80% {
    height: 0;
    top: 100px;
    left: 96px;
  }
}

@include keyframes(spinner-bottom) {
  0% {
    width: 0;
    top: 96px;
    left: 96px;
  }
  60% {
    width: 0;
    top: 96px;
    left: 96px;
  }
  80% {
    width: 100px;
    top: 96px;
    left: 0px;
  }
  100% {
    width: 0px;
    top: 96px;
    left: 0px;
  }
}
// /box spinner

tbody tr:first-child td {
  box-shadow: inset 0 1px 0 lightgrey;
}

tbody tr {
  position: relative;
  z-index: 10000;
}

tbody td {
  position: relative;
  z-index: 10000;
}

tr:nth-child(2n) > td {
  background-color: #ffffff;
}

tbody {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.025);
}

@import './nrds.scss';

/* -------------------- */
// Utility Classes
/* -------------------- */

.full-width {
  width: 100%;
}

.full-height {
  min-height: 100%;
}

.toolbar-container {
  height: 74px;
  box-sizing: border-box;
  border-top: 1px solid #d5d7d7;
  border-bottom: 1px solid #e3e4e4;
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.02);
  background: #edeeee;
  padding: 0 16px;
}

.toolbar-section1 .toolbar-item:first-child {
  padding-left: 0;
}

.toolbar-item {
  display: flex;
  justify-content: center;
  padding: 8px 16px;
  align-items: center;

  &.has-separator {
    border-right: 1px dotted #d5d7d7;
  }
}

.primary-grid {
  grid-gap: 0;
  overflow: hidden;
  position: relative;
  height: calc(100% - 74px);
}

.sidebar-container {
  height: 100%;
  overflow: scroll;
  border-right: 1px solid #eeeeee;
  background-color: #fff;
}

.primary-content-container {
  overflow: scroll;
  padding: 16px;
}

.sidebar-list {
  padding: 0;
  list-style-type: none;
}

.sidebar-list-item {
  padding: 12px 16px;
  list-style-type: none;
  color: #2a3434;
  font-size: 12px;
  overflow-wrap: break-word;
  border-bottom: 1px solid #f4f4f4;

  &:hover {
    background-color: #fafbfb;
    cursor: pointer;
  }
}

.primary-content {
  box-sizing: border-box;
  padding: 16px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 11px 15px -10px rgba(31, 75, 116, 0.15),
    0 1px 3px 1px rgba(0, 134, 148, 0.03), 0 3px 0 0 rgba(0, 49, 54, 0.04),
    0 1px 0 0 rgba(0, 75, 82, 0.04);
  position: relative;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 12px;
  }
  p {
    font-size: 14px;
    color: #464e4e;
    line-height: 21px;
  }

  ul {
    padding: 16px 32px;
    font-size: 14px;
    color: #464e4e;
    line-height: 21px;
  }
}

.empty-state {
  box-sizing: border-box;
  border: 3px dashed #e3e4e4;
  border-radius: 10px;
  padding: 24px 25%;
  margin: 16px;
  text-align: center;

  // because setting the height: 100% only works if the parent
  // of this element has an explicitly defined height. Since it
  // doesn't have an explicit height (but rather min-height: 100%)
  // we use absolute positioning to position the empty state.
  position: absolute;
  top: 16px;
  right: 16px;
  bottom: 16px;
  left: 16px;

  .empty-state-header {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #464e4e;
    text-transform: none;
    margin-bottom: 10px;
  }

  .primary-content > & {
    margin: 0;
  }
}

p.empty-state-description {
  font-size: 14px;
  line-height: 20px;
  color: #8e9494;
}

ol.empty-state-description {
  font-size: 14px;
  line-height: 20px;
  color: #8e9494;
  padding: 0 25%;
  text-align: left;
}

code {
  .primary-content p &,
  .primary-content ol & {
    font-size: 12px;
    background-color: #edeeee;
    border-radius: 3px;
    padding: 2px 5px;
    color: #464e4ec7;
  }
}
